*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}

.calculadora{
    width: 400px;
    height: 600px;
    background-color: rgb(243, 243, 243);
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 130px repeat(6,80px);
    justify-content: center;
    border-radius: 20px;
    padding-top: 20px;
} 

.calculadora button{
    font-size: 1.5 rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px #7d7d7d solid;
    margin: 2px;
}

.calculadora button:hover {
    background-color: gray;
    border: 2px white solid;
}

.display{
    height: 100px;
    background-color: #7d7d7d;
    opacity: .7;
    grid-column: 1/-1; /*hace que el elemento ocupe todo el espacio*/
    border: 2px #7d7d7d solid;
    border-radius:10px;
    text-align: end;
    padding: 14px 0;
}

.span2 {
    grid-column: span 2;
    
}

.valor-superior{
    font-size: 26px;
    color: white;
}

.valor-inferior{
    font-size: 40px;
    color: white;
}